<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head" . }}
</head>

  {{ $themeStyle := slice "" }}
{{ if eq .Site.Params.addFrame true }}{{ $themeStyle = $themeStyle | append "frame" }}{{ end }}

<body class='page{{ delimit $themeStyle " " }} {{ block "body_classes" . }}{{ end }}'>
  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </div>

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ $js := slice $scripts | resources.Concat "js/bundle.js" }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ partial "google-analytics.html" . }}

  {{ partial "scriptFooter" . }}

</body>
</html>