<div class="footer">
  {{ if .Site.Data.social.links }}
  
  <div class="container">
    <div class="row">
      <div class="col-4">
        
          <p>Copyright © Echo Wang 2022 </p>
        
      </div>
      <div class="col-3">
        <div class="footer-social">
          {{ range .Site.Data.social.links }}
            <span class="social-icon social-icon-{{ .name | urlize }}">
              <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
                <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
            </a>
          </span>
         {{ end }}
        </div>
      </div>
      <div class="col-4">
        <div><button type="button" href="https://fabacademy.org/2022/" class="btn btn-lg btn-primary">Fab Academy 2022 Archive</button></div>
      </div>
    </div>
  </div>

  {{ end }}
</div>