{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

  {{ if .Site.Params.showAuthorOnHomepage }}
    {{ partial "author-large.html" . }}
  {{ end }}

  

  <div class="intro">
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
    
    <div class="intro-content">{{ .Content }}</div> <!-- intro-content has larger font-->
  </div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <img src="/images/Banner_2022.png" alt="Fab Academy" class="img-fluid">
    
    </div>
   
    

  </div>


  </div>



  {{ if .Site.Params.showPostsOnHomepage }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  {{ end }}

{{ end }}

{{ define "footer_js" }}

{{ end }}
